---
name: Pull Request checks

"on":
  pull_request:
    branches:
      - main
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: read

jobs:
  shell_check:
    name: "Shell: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/shell_check.yaml@01b97f6e2985440514ccb281b52c4a34afc2219a  # v2.1.15
  go_check:
    name: "Go: Syntax checks"
    runs-on: ubuntu-latest
    steps:
      - id: repo_checkout
        name: "Repository: Checkout"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - id: "go_setup"
        name: "Go: Setup"
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version-file: 'functions/purge/go.mod'
          cache-dependency-path: |
              functions/purge/go.sum
      - id: "go_fmt"
        name: "Go: Check formatting"
        run: go fmt
        working-directory: functions/purge
      - id: "go_build"
        name: "Go: Build the package"
        run: go build
        working-directory: functions/purge
  tf_module_check:
    name: "Terraform Module: Code checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/tf_module_check.yaml@01b97f6e2985440514ccb281b52c4a34afc2219a  # v2.1.15
  yaml_check:
    name: "YAML: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/yaml_check.yaml@01b97f6e2985440514ccb281b52c4a34afc2219a  # v2.1.15
