---
name: Pull Request checks

"on":
  pull_request:
    branches:
      - main
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions: {}

jobs:
  shell_check:
    name: "Shell: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/shell_check.yaml@fec3d47e8e7b97a889ef4e5aae12bf0f930171c0  # v2.1.14
  go_check:
    name: "Go: Syntax checks"
    runs-on: ubuntu-latest
    steps:
      - id: repo_checkout
        name: "Repository: Checkout"
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - id: "go_setup"
        name: "Go: Setup"
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version-file: 'functions/purge/go.mod'
          cache-dependency-path: |
              functions/purge/go.sum
      - id: "go_fmt"
        name: "Go: Check formatting"
        run: go fmt
        working-directory: functions/purge
      - id: "go_build"
        name: "Go: Build the package"
        run: go build
        working-directory: functions/purge
  tf_module_check:
    name: "Terraform Module: Code checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/tf_module_check.yaml@fec3d47e8e7b97a889ef4e5aae12bf0f930171c0  # v2.1.14
  yaml_check:
    name: "YAML: Syntax checks"
    uses: scaleway-terraform-modules/workflows/.github/workflows/yaml_check.yaml@2705e00e1ea900be1cd4bd6b1e6c8de43fd99fdf  # v2.1.13
